
body {
	background: #EEEEEE;
	header {
			display: flex;
			height: 60px;
			background: #3782A3;
			width: 100%;

			.logo-section {
				width: 50%;
				display: flex;
				padding-left: 10px;
				color: #fff;
				align-items: center;
				#logo {
					width: 60px;
					height: 60px;
					background: #333;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-right: 10px;
				}
			}

			.nav-section {
				width: 50%;
				display: flex;
				justify-content: flex-end;
				align-items: center;

				#new-req {
					background: #fff;
					height: 37px;

					display: flex;
					align-items: center;
					border-radius: 100px;
					font-size: 14px;
					padding-left: 5px;
					padding-right: 5px;
				}

			}
		}
	main {
		max-width: 1000px;
		width: 90%;
		margin: 50px auto;
		background: #FFF;

		.content {
			display: flex;
			justify-content: space-around;
			padding: 50px 0;

			#aside-nav {
				width: 265px;

			  	#user-prof {
			  		display: flex;
			  		flex-direction: column;
			  		justify-content: center;
			  		align-items: center;
			  		background: #ECF1F8;
			  		padding-bottom: 20px;

			  		#user-img {
			  			width: 80px;
			  			height: 80px;
			  			background: #333;
			  			border-radius: 50%;
			  		}
			  	}

			  	#nav {
			  		font-family: "Segoe UI",Arial,sans-serif;
			  		font-size: 16px;

			  		ul {
			  			padding: 0;
			  			li {
			  				display: flex;
			  				justify-content: space-between;
			  				align-items: center;
			  				padding: 10px 10px;
			  				cursor: pointer;
			  				color: #272727;
			  				font-weight: bolder;

			  				.data {
			  					padding: 5px 10px;
			  					font-weight: bold;
			  				}
			  			}
			  		}
			  	}

			  	#chat {
			  		padding: 10px;
			  		h3{
			  			color: #3782A3;
			  			font-size: 13px;
			  		}
			  		p {
			  			font-size: 12px;
			  		}
			  	}
			}
		  	#main-content {
			  	width: 592px;

			  	#requests {
			  		background: #CFDCF0;
			  		height: 450px;

			  		.date { width: 20%; }
			  		.desc { width: 50%; }
			  		.reqid { width: 15%; }
			  		.status { width: 15%; }

			  		#req-header {
			  			font-weight: bold;
			  			color: #FFF;
			  			background: #3782A3;
			  			display: flex;
			  			padding: 10px;
			  		}

			  		#req-content {
			  			padding: 5px;
			  			font-family: "Segoe UI",Arial,sans-serif;

			  			.reqs {
			  				display: flex;
			  				background: #fff;
			  				padding: 0px 10px;
			  				align-items: center;
			  				height: 60px;
			  				font-weight: bolder;
			  				color: #272727;
			  				cursor: pointer;

			  				.status {
			  					display: flex;
			  					flex-direction: column;
			  					align-items: center;
			  					color: #FF9800;
			  					.text { 
			  						text-transform: capitalize;
			  						font-size: 12px;
			  					}
			  					.time {
			  						color: #b7b7b7;
			  						font-size: 10px;
			  						font-weight: bolder;
			  					}
			  					.options {
			  						font-size: 10px;
								    display: flex;
								    justify-content: space-around;
								    font-weight: bolder;
								    width: 100%;

								    .edit {
								    	color: #024faf7a;
								    	cursor: pointer
								    }
								    .del {
								    	color: pink; 
								    	cursor: pointer;
								    }

								    .edit:hover { color: #024fafcf; }
								    .del:hover { color: red; }
			  					}
			  				}
			  			}
			  			.reqs:hover {
			  				box-shadow: 0px 0px 3px 0px black;
			  				z-index: 1;
			  				position: relative;
			  			}
			  		}
			  	}
			}
		}
	}

	#form-holder {
		font-family: "Segoe UI",Arial,sans-serif;
		background: #FFF;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 90%;
		max-width: 650px;
		margin: 50px auto;
		padding-top: 30px;
		padding-bottom: 30px;

		form {
			width: 90%;
			max-width: 500px;
			font-family: "Segoe UI",Arial,sans-serif;
			font-size: 18px;
			input{
				width: 100%;
				height: 40px;
				background: #ECF1F8;
				border: 0px;
				padding-left: 20px;
				margin-bottom: 30px;
			}
			button {
				width: 120px;
				height: 50px;
				background: #3782A3;
				border: 0;
				border-radius: 2px;
				color: #fff;
				margin: auto;
				display: block;
				cursor: pointer;
			}

		}
	}
}