#form-holder {
	font-family: "Segoe UI",Arial,sans-serif;
	background: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	max-width: 650px;
	margin: 50px auto;
	padding-top: 30px;
	padding-bottom: 30px;
}