<!DOCTYPE html>
<html>
<head>
	<title>Maintenance Tracker</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<main>
	<section class="user-page">
		<aside class="grid-item">
			<img src="../img/image1.png" width="98%">
			<p><span>Name: Samuel</span> <span>Christopher</span></p>
			<p>Email: ebusameric@gmail.com</p>
			<footer>
			<a href="admin.html">Home</a>
		</footer>
		</aside>
		<aside class="grid-item">
			<h3>All Requests</h3>
			<div class="searchBar">
				Filter by Request: <select>
					  <option value="vw">Repair</option>
					  <option value="volvo" selected>Maintenance</option>
				</select><button><i class="material-icons">search</i></button>
			</div>
			<table class="user-table">
				<tr><th>Dates</th><th>Names of User</th><th>Type of Request</th><th>Approve/Reject</th><th>---</th></tr>
				<tr><td>23/2/2018</td><td>samuel christopher</td><td>Repair</td>
					<td><button><i class="material-icons">arrow_forward</i></button><button><i class="material-icons">close</i></button></td>
					<td><button>Resolve</button></td>
				</tr>
				<tr><td>24/3/2018</td><td>samuel christopher</td><td>Maintenance</td>
					<td><button><i class="material-icons">arrow_forward</i></button><button><i class="material-icons">close</i></button></td>
					<td><button>Resolve</button></td>
				</tr>
				<tr><td>24/3/2018</td><td>samuel christopher</td><td>Repair</td>
					<td><button><i class="material-icons">arrow_forward</i></button><button><i class="material-icons">close</i></button></td>
					<td><button>Resolve</button></td>
				</tr>
				<tr><td>24/3/2018</td><td>samuel christopher</td><td>Repair</td>
					<td><button><i class="material-icons">arrow_forward</i></button><button><i class="material-icons">close</i></button></td>
					<td><button>Resolve</button></td>
				</tr>
				<tr><td>24/3/2018</td><td>samuel christopher</td><td>Repair</td>
					<td><button><i class="material-icons">arrow_forward</i></button><button><i class="material-icons">close</i></button></td>
					<td><button>Resolve</button></td>
				</tr>
				<tr><td>24/3/2018</td><td>samuel christopher</td><td>Repair</td>
					<td><button><i class="material-icons">arrow_forward</i></button><button><i class="material-icons">close</i></button></td>
					<td><button>Resolve</button></td>
				</tr>
				<tr><td>24/3/2018</td><td>samuel christopher</td><td>Repair</td>
					<td><button><i class="material-icons">arrow_forward</i></button><button><i class="material-icons">close</i></button></td>
					<td><button>Resolve</button></td>
				</tr>
				<tr><td>24/3/2018</td><td>samuel christopher</td><td>Repair</td>
					<td><button><i class="material-icons">arrow_forward</i></button><button><i class="material-icons">close</i></button></td>
					<td><button>Resolve</button></td>
				</tr>
				<tr><td>24/3/2018</td><td>samuel christopher</td><td>Repair</td>
					<td><button><i class="material-icons">arrow_forward</i></button><button><i class="material-icons">close</i></button></td>
					<td><button>Resolve</button></td>
				</tr>	
			</table>
		</aside>
	</section>
</main>
</body>
</html>